body {
    background-image: url("/about-judith/img/rg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
    text-align: center;
    font-size: 35px;
    padding: 30px;
}

h1 {
    color: black;
}
h2 {
    color: black;
}
h3 {
    color: ghostwhite;
}
    
    pre {
    color: ghostwhite;
    grid-template-columns: auto;
    padding: 10px;
}